a {
  font-family: 'Open Sans', sans-serif;
}

.margin {
    padding: 20px;
}

.margin_bg2 {
    padding-left: 100px;
    padding-right: 100px;
}

.bg-1 {
      /*background-color: #090909; /* Black Gray */
      /*background-color: #191919;*/
      background-image: url('../image/Background_Image.jpg');
      background-repeat: no-repeat;

      /*color: #ffffff;*/
      /*background-color: #A8CD1B; /* Green Shade */
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      margin-top: 50px;
}
.container-fluid {
    height: auto;
}
.b {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 6px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    color: #007bb5; /*linkedin blue*/
    font-family: "Times New Roman", Times, serif;
    width: 180px;
    font-size: 20px;
}

.b:hover {
    opacity: 0.8;
}
.bg-2 {
      background-color: rgb(0,60,0);
}

div h4,
div h4 a {
	color: rgb(255,255,255);
	font-family: 'Quattrocento Sans', sans-serif;
}

div h2 {
  font-size: 60px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  /*color: rgb(0,10,0) /* Dark Green Shade*/
  color: #A8CD1B; /* Green Shade */
}

div p {
  font-size: 22px;
  font-family: 'Quattrocento Sans', sans-serif;
  /*background-color: #090909; /* Black Gray */;
  background-color: #000; /*Black*/
  text-align: justify;
  padding: 30px;
  margin: 0 30px 60px 30px;
  color: rgb(130,130,130); /* White Gray */
  /*color: #A8CD1B; /* Green Shade */
}

@media only screen and (max-width: 1000px) {
  div p {
    margin:0;
    padding: 25px;
    font-size: 18px
  }
  div h2 {
    font-size: 46px;
  }
  h4 {
      font-size: 16px;
  }
  .margin_bg2 {
      padding-left: 50px;
      padding-right: 50px;
  }
  .b {
      padding: 6px;
      width: 150px;
      font-size: 12px;
  }
}

@media only screen and (max-width: 520px) {
  div p {
    margin:0;
    padding: 15px;
    font-size: 14px
  }
  div h2 {
    font-size: 32px;
  }
  h4 {
      font-size: 12px;
  }
  .margin_bg2 {
      padding-left: 5px;
      padding-right: 5px;
  }
  .b {
      padding: 6px;
      width: 90px;
      font-size: 10px;
  }
}

@media only screen and (max-width: 350px) {
  div p {
    margin:0;
    padding: 15px;
    font-size: 14px
  }
  div h2 {
    font-size: 32px;
  }
  h4 {
      font-size: 8px;
  }
  .margin_bg2 {
      padding-left: 10px;
      padding-right: 10px;
  }
  .b {
      padding: 6px;
      width: 70px;
      font-size: 10px;
  }
}
